<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVa8kSPH4OKImseVLpJvDeRos7BO8Q138</string>
	<key>GCM_SENDER_ID</key>
	<string>947885459127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ku.ac</string>
	<key>PROJECT_ID</key>
	<string>noti-bill</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-bill.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947885459127:ios:d5e216bd74f59f0ab02f32</string>
</dict>
</plist>